
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
package-lock.json
package.json
.DS_Store
playwright.config.ts
tests/coursework-sample.spec.js
.hintrc
docs/script.js
docs/peoplesearch.html
.idea/workspace.xml
.vscode/settings.json
tests/addavehiclepagetest.spec.js
