.navbar {
  display: flex;
  list-style-type: none;
  gap: 50px;
  justify-content: center;
}

.navbar li a {
  text-decoration: none;
  color: white;
}

html {
  background-color: #5865f2;
}

header,
main,
aside,
footer {
  background-color: #404bbf;
}

header {
  grid-column: 1 / -1;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

main {
  grid-column: 2 / 3;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

aside {
  grid-column: 1 / 2;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

footer {
  grid-column: 1 / -1;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

#heading {
  text-align: center;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 4fr;
}

#results {
  border: 1px dashed black;
  display: flex;
}

#results div {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: fit-content;
}

#results div p {
  font-family: "Times New Roman", Times, serif;
}

body {
  color: white;
}

img {
  width: 100%;
  height: auto;
}

@media (max-width: 500px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
  }

  header {
    grid-column: 1 / -1;
  }

  main {
    grid-column: 1 / -1;
  }

  aside {
    grid-column: 1 / 2;
    width: 20%;
    float: left;
    margin: 0 0 10px 10px;
  }

  footer {
    grid-column: 1 / -1;
    width: 75%;
    float: left;
    margin: 0 0 10px 10px;
  }
}
